<div class="row links">
	<div class="col-md-6"></div>
	<div class="col-md-2">
		<h4>Link</h4>
		<ul>			
			<li><a href="#">Servizi</a></li>
			<li><a href="#">Galleria</a></li>
			<li><a href="#">Contatti</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<h4>Link</h4>
		<ul>			
			<li><a href="#">Servizi</a></li>
			<li><a href="#">Galleria</a></li>
			<li><a href="#">Contatti</a></li>
		</ul>
	</div>
	<div class="col-md-2">
		<h4>Link</h4>
		<ul>			
			<li><a href="#">Servizi</a></li>
			<li><a href="#">Galleria</a></li>
			<li><a href="#">Contatti</a></li>
		</ul>
	</div>
</div>

<div class="row legal-info">
	<p>© 2016 Clean & Co. - P.Iva 01234567890 - REA: RM - 961136 - Cap. Soc. : 10.320,00</p>
</div>