<div class="row links">
	<div class="col-md-4">
		<!-- <img src="{{ site.baseurl }}/assets/images/clean_and_co_logo.png"/> -->
	</div>
	<div class="col-md-4">
		<img src="{{ site.baseurl }}/assets/images/clean_and_co_logo.png"/>
	</div>
	<div class="col-md-4">
		<!-- <img src="{{ site.baseurl }}/assets/images/clean_and_co_logo.png"/> -->
	</div><!--
<!--	~~><div class="col-md-3"></div><!~~
	~~><div class="col-md-2">
		<h4>Link</h4>
		<ul>
			<li><a href="#">Servizi</a></li>
			<li><a href="#">Galleria</a></li>
			<li><a href="#">Contatti</a></li>
		</ul>
	</div><!~~
	~~><div class="col-md-2">
		<h4>Link</h4>
		<ul>
			<li><a href="#">Servizi</a></li>
			<li><a href="#">Galleria</a></li>
			<li><a href="#">Contatti</a></li>
		</ul>
	</div><!~~
	~~><div class="col-md-2">
		<h4>Link</h4>
		<ul>
			<li><a href="#">Servizi</a></li>
			<li><a href="#">Galleria</a></li>
			<li><a href="#">Contatti</a></li>
		</ul>
	</div>-->
</div>

<div class="row legal-info">
	<p>© 20{{ site.time | date: '%y' }} Clean & Co. - Partita Iva 02283120448 - <a href="cookie_policy">Privacy policy</a></p>
</div>