<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{{ site.baseurl }}/assets/images/clean_and_co_logo.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">        
        <li><a href="presentazione">Chi siamo</a></li>
        <li class="dropdown">
          <a href="servizi.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servizi <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="disabled" href="#">Pulizia ufficio</a></li>
            <li><a class="disabled" href="#">Pulizia condomini</a></li>
            <li><a href="servizi#panelli_solari">Lavaggio panelli solari e fotovoltaici</a></li>
            <li><a href="servizi#superfici_vetro">Lavaggio vetrate</a></li>
            <li><a class="disabled" href="#">Pulizie post cantiere</a></li>
            <li><a class="disabled" href="#">Lavaggio tappetti e moquettes</a></li>
            <li><a href="servizi#trattamento_superifici">Trattamenti superifici</a></li>
            <li><a class="disabled" href="#">Microlevigatura marmo</a></li>
            <!-- <li role="separator" class="divider"></li> -->
          </ul>
        </li>
        <li><a href="galleria">Foto</a></li>
        <li><a href="contatti">Contatti</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="contact-button" href="/contatti.html"><i class="fa fa-whatsapp" aria-hidden="true"></i> 348 3885145</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>