/* base: #00b889, light: #18c99c; */
/* base: #1974d1, light: #358be4 */

body {
	font-family: 'Nunito Sans', sans-serif;
	background: #1974d1;
}

.white-background {
	/*margin-top: 59px;*/
	background: #fff;
}

.main-content p {
	font-size: 17px;
}

.component {
	padding: 24px 0px;
}

.mobile-home-banner {
	display: none;
}

.desktop-home-banner {
	display: block;
}

.mobile-home-text {
	display: none;
}

.desktop-home-text {
	display: block;
}

@media (max-width: 992px) {
	.mobile-home-banner {
		display: block;
	}

	.desktop-home-banner {
		display: none;
	}

	.mobile-home-text {
		display: block;
	}

	.desktop-home-text {
		display: none;
	}
}

img {
	max-width: 100%;
}

a {
	color: #1974d1;
}

a:hover {
	color: #1974d1;
}

.clean-green {
	color: #00b889;
}

.header {
	padding: 0px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

img.small-frame {
	padding: 5% 15%;
}

@media only screen and (max-width : 768px) {
	img.small-frame {
		padding: 0px;
	}
}

img.medium-frame {
	padding: 5% 25%;
}

.component.homepage-banner {
	position: relative;
	z-index: 9;
	padding: 25vh 36px;
}

@media (max-width: 992px) {
	.component.homepage-banner {
		padding: 0px;
		height: 50vh;
	}

	.component.homepage-banner h1 {
		margin-top: 20vh;
	}
}

.component.homepage-banner h1 {
	color: #fff;
}

.component.homepage-banner h3 {
	color: #fff;
}

.container.header {
	/*width: 100%;*/
	/*margin: 0px;*/
}

.navbar {
	position: relative;
	z-index: 10;
	background: #fff;
	/*padding: 0px 98px;*/
	border-radius: 0px;
	border: none;
	box-shadow: none;
	margin-bottom: 0px;
}

.navbar a.navbar-brand {
	padding: 0px;
}

.navbar a.navbar-brand img {
	padding: 5px 15px;
	margin-right: 15px;
	height: 68px;
}

.navbar a {
	font-size: 18px;
}

.navbar ul.nav li a {
	color: #333;
	padding: 30px;
}

.navbar ul.nav li a:hover {
	color: #1974d1;
}

.navbar-toggle {
	margin-top: 18px;
	margin-bottom: 18px;
	border: none;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
	background-color: #1974d1;
}

.navbar .navbar-header .navbar-toggle:hover {
	background: #1974d1;
}

.navbar .navbar-header .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.navbar .navbar-header .navbar-toggle:focus {
	background: #1974d1;
}

.navbar .navbar-header .navbar-toggle:focus .icon-bar {
	background-color: #fff;
}

.navbar-collapse {
	border-top: none;
}

.navbar .dropdown.open a.dropdown-toggle {
	background: none;
	box-shadow: none;
}

.navbar .dropdown-menu {
	border: none;
}

.navbar .dropdown-menu li a:hover {
	color: #1974d1;
	background: none;
}

.navbar .dropdown-menu li a.disabled {
	cursor: default;
	color: #333;
}

.navbar .dropdown-menu li a.disabled:hover {
	color: #333;
}

.navbar .navbar-right .contact-button {
	color: #fff;
	background: #3ada56;
}

.navbar .navbar-right .contact-button:hover {
	color: #fff;
	background: #3ada56;
}

.feature-highlight.right-aligned {
	text-align: right;
}

.main-content a.continuation-link {
	display: inline-block;
	width: 100%;
	margin-top: 24px;
	padding-top: 24px;
	border-top: 1px solid #e5e5e5;
}

.feature-highlight h2 {
	font-weight: bold;
}

.feature-highlight .photos .col-md-6 {
	padding: 6px;
}

@media only screen and (max-width : 768px) {
	.feature-highlight .photos .col-md-6 {
		padding: 8px 16px;
	}
}

.feature-highlight .photos .col-md-12 {
	padding: 0px 6px;
}

.feature-highlight .photos .col-xs-4 {
	padding: 6px 3px;
}

.feature-highlight .photos .col-xs-4:first-child {
	padding-left: 6px;
}

.feature-highlight .photos .col-xs-4:last-child {
	padding-right: 6px;
}

.feature-highlight.left-aligned .col-md-7 {
	padding-left: 42px;
}

.feature-highlight.right-aligned .col-md-7 {
	padding-right: 42px;
}

p.image-alt-text {
	font-size: 14px;
	color: #555;
	padding: 6px 0px;
}

@media only screen and (max-width : 768px) {
	.feature-highlight h2 {
		text-align: center;
	}

	.feature-highlight p {
		text-align: left;
	}

	.main-content a.continuation-link {
		text-align: left;
		margin-top: 12px;
		/*padding-top: 0px;*/
		padding-bottom: 24px;
		/*border-top: none;*/
	}

	.feature-highlight.left-aligned .col-md-7 {
		padding-left: 15px;
	}

	.feature-highlight.right-aligned .col-md-7 {
		padding-right: 15px;
	}
}

.contact-form {
	width: 628px;
	margin: 0px auto;
}

.contact-form h2 {
	text-align: center;
	margin-bottom: 6px;
}

.contact-form h3 {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 24px;
}

.contact-form ul {
	text-align: center;
	font-size: 18px;
	color: #222;
	list-style: none;
	margin-top: 24px;
	padding-left: 0px;
}

.contact-form .row:last-child {
	text-align: right;
}

.contact-form button.btn.btn-default {
	text-shadow: none;
	color: #1974d1;
	margin-top: 15px;
	border: 1px solid #1974d1;
}

.contact-form button.btn.btn-default:hover {
	color: #fff;
	background: #1974d1;
}

.contact-form input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea.form-control:focus {
  border-color: #1974d1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(25, 116, 209, 0.4);
  outline: 0 none;
}

@media only screen and (max-width : 768px) {
	.contact-form {
		width: auto;
		margin: 0px;
	}
}

.gallery .col-md-6 {
	padding: 15px;
}

@media only screen and (max-width : 768px) {
	.gallery .col-md-6 {
		padding: 8px 16px;
	}
}

.feature-highlight .photos .col-md-12.before-and-after {
	/*position: relative;*/
	padding: 0px;
}

.feature-highlight ul {
	list-style: none;
}

.feature-highlight ul li:not(:last-child) {
	margin-bottom: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #e9e9e9;
}

.feature-highlight .photo-viewer {
	cursor: pointer;
}

.before-and-after img {
	cursor: ew-resize;

	position: relative;
	width: 100%;
}

.before-and-after .before-wrapper {
	position: absolute;
	overflow: hidden;

	width: 0%;

	top: 0px;
	left: 0px;
}

.before-and-after .before-wrapper img.filler {
	/*width: 400px;*/
	width: 400px;
	max-width: none;
	position: relative;
}

.before-and-after .after-wrapper {
	position: absolute;
	/*width: 50%;*/
	overflow: hidden;
	top: 0px;
	right: 0px;
}

.before-and-after .after-wrapper img {
	position: absolute;
	right: 0px;
}

.row.partner-row {
	margin: 72px 0px;
}

/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */

@media (max-width: 992px) {
	.video-column {
		min-width: 100%;
		max-width: 100%;
	}
}

.homepage-video-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

@media (min-width: 992px) {
	.traits {
		margin-top: 24px;
	}
}

.footer .row.links {
	margin-top: 24px;
	padding: 12px 0px;
	border-top: 1px solid #e5e5e5;
}

.footer .row.legal-info {
	font-size: 14px;
	color: #999;
	padding: 12px 0px;
	text-align: center;
}

.footer .row.legal-info a {
	font-size: 14px;
	color: #999;
}

.footer img {
	margin-top: 10px;
}

.footer h4 {
	font-weight: bold;
}

.footer a {
	font-size: 17px;
}

.footer ul {
	padding-left: 0px;
	list-style: none;
}

.warning-notice {
	background: #ce2b37;
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 9px 18px;
}

.warning-notice a {
	color: #fff;
	text-decoration: underline;
}